@use "variables" as *;


@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}

body {
  /* 우리 사이트 전체를 관통하는 공통 폰트관련속성 */
  line-height: 1.5;
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
}
a {
  color: inherit;
  text-decoration: none;
}
.position-relative {
  position: relative;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

button:active, 
button:focus {
  border: none;
  outline: none;
}

h2{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: $gray-700;
}
