$primary: #3692ff;

$gray-900: #111827;
$gray-800: #1F2937;
$gray-700: #374151;
$gray-600: #4B5563;
$gray-500: #6b7280;
$gray-400: #9CA3AF;
$gray-300: #d1d5db;
$gray-200: #E5E7EB;
$gray-100: #f3f4f6;
$gray-50: #F9FAFB;
$white: #ffffff;

$bg-banner: #CFE5FF; 
$bg-color: #FCFCFC;